.lead__route {
    z-index: 1;
    padding: 20% 0 15% 0.5px;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .lead__route {
        padding: 15% 0 10% 0.5px;
    }
}

@media screen and (max-width: 480px) {
    .lead__route {
        padding: 10% 0 7% 0.5px;
    }
}

@media screen and (max-width: 480px) {
    .lead__route {
        padding: 0% 0 0% 0.5px;
    }
}


@media screen and (max-width: 320px) {
    .lead__route {
        padding: 7% 0 5% 0.5px;
    }
}
