@import url('__caption/lead__caption.css');
@import url('__route/lead__route.css');

.lead__image-block {

    margin: 70px auto 0;
    padding: 0;
    background: url('../../../../images/image-lead.jpg')  center center no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 984px;
}



@media screen and (max-width: 1024px) {
    .lead__image-block {
        max-width: 926px; 
        margin: 31px auto 0;  
    }

}

@media screen and (max-width: 768px) {
    .lead__image-block {
        margin: 70px auto 0;  
    }
}

@media screen and (max-width: 375px) {
    .lead__image-block {
        margin: 10px 0 0;
        padding: 0;
    }
}

