.footer__link {
    font-size: 24px;
    line-height: 40px;
    color: #ffffff;
    text-decoration: none;
    padding: 0 5px;
}

@media screen and (max-width: 992px) {
    .footer__link {
        font-size: 16px;
    } 
}

@media screen and (max-width: 768px) {
    .footer__link {
        font-size: 16px;
        padding: 0;
    }
}

@media screen and (msax-width: 480px) {
    .footer__link {
        font-size: 24px;
    }
}    

@media screen and (max-width: 375px) {
    .footer__link {
        padding: 0 0 15px;
        font-size: 24px;
        line-height: 1.8;
    }
}
